
.confirm-log-out-button {
    color: whitesmoke;
    border-color: orange;
    background-color: #481848;
}
.cancel-log-out-button {
    color: whitesmoke;
    border-color: orange;
    background-color: #481848;
}