.external-modal-button {
    background-color: #481848;
   border: solid orange;
    color: whitesmoke;
    border-radius: 30rem;
    margin-top: 8px;
    margin-bottom: 8px;
}

.modal-background {
    background-color: rgba(0, 0, 139, 0.596);
}

.internal-modal-button {
      border: solid orange;
    color: whitesmoke;
    background-color: #481848;
}