.pin-external-button {
    color: whitesmoke;
    border: solid orange;
    background-color: #481848;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 15px;
}

.modal-background-pin {
    background-color: #F000FF33;
}