.level1-btns {
    display: flex;
    justify-content: center;
    
}

.content-box-style {
    width: 90%;
    height: 75%;
    margin: 0 auto;
    border: solid thin orange;
    background-color: rgba(99, 53, 99, 0.377);
    padding: 1%;
    border-radius: 15px;
}