.logo-wrapper {
    margin-top: 5%;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-bottom: 3%;
}

.logo-circle {
    height: 150px;
    width: 265px;
    background-color: #265df0;
    border-radius: 50%;
    border: solid #1890F0;
    display: inline-block;
    justify-content: center;
    display: flex;
    align-items: center;
  }

  .logo-text {
    /* justify-content: center; */
    /* display: flex; */
    /* align-items: center; */
    height: 65px;
    width: 200px;
  }

  
  @media screen and (max-width: 576px){

  }

  @media screen and (max-width: 768px){

  }

  @media screen and (max-width: 992px){

  }

  @media screen and (max-width: 1200px){

  }