.test {
    background-color: #481848;
    border: solid #1890F0;
    color: #ff0000;
    border-radius: 30rem;
}

.modal-background {
    background-color: #F000FF33;
}

.internal-modal-button {
    color: #1890F0;
    border: solid #1890F0;
    background-color: #481848;
}

.delete-button {
    color: red;
    border: solid #1890F0;
    background-color: #481848;
}