.external-delete-button {
    background-color: #481848;
    border: solid orange;
    color: #ff0000;
    border-radius: 30rem;
    margin: 10%;
}

.modal-background {
    background-color: #F000FF33;
}

.confirm-delete-button {
    color: #1890F0;
    border-color: #481848;
    background-color: #481848;
}

.cancel-delete-button {
    color: red;
    border: solid #1890F0;
    background-color: #481848;
}