.external-delete-button {
    background-color: #481848;
    border: solid orange;
    color: #ff0000;
    border-radius: 30rem;
    margin: 32px;
}

.modal-background {
    background-color: rgba(0, 0, 139, 0.596);
}

.confirm-delete-button {
    color: #1890F0;
    border: solid #1890F0;
    background-color: #481848;
}

.cancel-delete-button {
    color: red;
    border: solid #1890F0;
    background-color: #481848;
}