body, html {
    margin: 0;
    padding: 0;
    height: 100%;  
}

.custom-hd {
    /* position: absolute;
    top:0;  */
    width:100%;
    background-color: #F000FF;
    border: solid #F0F030;
    border-radius: 0.3rem;
    margin-bottom: 3.5%;
    margin-top: 2%;
    height: 65px;
    /* justify-content: center; */
    /* display: flex; */
    align-items: center;
}

.header-logo {
    height: 32px;
    width: 125px;
}

header {
    display: flex;
    justify-content: center;
}  

.header-div {
    /* display: flex; */
    justify-items: flex-end;
    /* align-items: center;  */
    text-align: right;
}

.header-test {
    border-radius: 0.8rem;
    color: #1890F0;
    border: solid #1890F0;
    background-color: #481848;
}

@media screen and (max-width: 576px){

}

@media screen and (max-width: 768px){

}

@media screen and (max-width: 992px){
   
}

@media screen and (max-width: 1200px){

}
