html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.custom-ft {
    position: absolute;
    bottom:0;
    /* left:0; */
    width:100%;
background-color: #180517a8;
    border: solid #481848;
    border-radius: 0.3rem;
    margin-bottom: 8px;
    height: 35px;
    justify-content: center;
    display: flex;
    align-items: center;
    color: rgba(245, 245, 245, 0.527);
}

.footer-text {
    font-size: 0.8em;
}

