html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.custom-ft {
    position: absolute;
    bottom:0;
    /* left:0; */
    width:100%;
    background-color: #265df0;
    border: solid #1890F0;
    border-radius: 0.3rem;
    margin-bottom: 0.5%;
    height: 22px;
    justify-content: center;
    display: flex;
    align-items: center;
    color: white;
}

.footer-text {
    font-size: 0.8em;
}

footer {
/* position: absolute; */
display: flex;
justify-content: center;
/* bottom: 0;
width: 100%; */
}  

