.custom-ft {
    position:fixed;
    bottom:0;
    /* left:0; */
    width:90%;
    background-color: #F000FF69;
    border: solid #1890F0;
    border-radius: 0.3rem;
    margin-bottom: 0.5%;
    height: 22px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.footer-text {
    font-size: 0.8em;
    color: white;
}

footer {
display: flex;
justify-content: center;
}  

