.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: whitesmoke;
}

body {
  background-image: url("/images/color-dots-cropped.jpg");
  /* background-color: #481848; */
  background-size: auto;
  background-position: center;
}

.form-group {
  padding: 0 10px;
}

input[type=text], textarea {
  border: thin solid orange;
  border-radius: 3px;
  max-width: 500px;
  box-sizing: border-box;
  /* margin: 0px 10px; */
}

.main-page-container {
  display:flex;
flex-direction: column;
justify-content: center;
height: 100vh;
}