.add-person-button {
    background-color: #481848;
    border: solid orange;
    color: whitesmoke;
    border-radius: 30rem;
    /* margin: 2; */
}

.modal-background {
    background-color: #F000FF33;
}

.confirm-delete-button {
    color: whitesmoke;
    border: solid orange;
    background-color: #481848;
}