.add-person-button {
    background-color: #481848;
    border: solid orange;
    color: whitesmoke;
    border-radius: 30rem;
    /* margin: 2; */
}

.modal-background {
    background-color: rgba(0, 0, 139, 0.596);;
}

.internal-modal-button {
    color: #1890F0;
    border: solid #1890F0;
    background-color: #481848;
}

.confirm-add-button {
    color: whitesmoke;
    border-color: orange;
    background-color: #481848;
}